/*
 * Mixins
 */

// Media queries
// ------------------------------------- //
@mixin media($size, $minmax: min) {
	@media screen and (#{$minmax}-width: $size) {
		@content;
	}
}

// Placeholder text
// ------------------------------------- //
@mixin placeholder {
	$placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
	@each $placeholder in $placeholders {
		&:#{$placeholder}-placeholder {
			@content;
		}
	}
}

// Selection
// ------------------------------------- //
@mixin selection($current-selector: false) {
	@if $current-selector {
		&::-moz-selection {
			@content;
		}
		&::selection {
			@content;
		}
	}
	@else {
		 ::-moz-selection {
			@content;
		}
		 ::selection {
			@content;
		}
	}
}

// Clearfix
// ------------------------------------- //
@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Grid Container
// ------------------------------------- //
@mixin ccl-l-container {
	@extend .ccl-u-clearfix;
	margin-left: auto;
	margin-right: auto;
	max-width: $max-width;
	padding: 0 $gutter;
}

// Grid row
// ------------------------------------- //
@mixin ccl-l-row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$gutter/2;
	margin-right: -$gutter/2;
	&.ccl-is-nowrap {
		flex-wrap: nowrap;
	}
}

// Grid column
// ------------------------------------- //
@mixin ccl-l-column {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	margin-left: $gutter/2;
	margin-right: $gutter/2;
	max-width: 100%;
}

// Reset Text
// -------------------------------------- //
@mixin reset-text {
	font-family: $font-main;
	font-style: normal;
	font-weight: normal;
	line-height: $leading;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	white-space: normal;
	line-break: auto;
}

// School styles
// -------------------------------------- //
@mixin school-style( $prop, $alpha: 1 ) {

	$color-pomona: rgba( $color-pomona, $alpha );
	$color-cgu: rgba( $color-cgu, $alpha );
	$color-cuc: rgba( $color-cuc, $alpha );
	$color-scripps: rgba( $color-scripps, $alpha );
	$color-claremont-mckenna: rgba( $color-claremont-mckenna, $alpha );
	$color-harvey-mudd: rgba( $color-harvey-mudd, $alpha );
	$color-pitzer: rgba( $color-pitzer, $alpha );
	$color-kgi: rgba( $color-kgi, $alpha );

	[data-school="pomona"] & { #{$prop}: $color-pomona; }
	[data-school="cgu"] & { #{$prop}: $color-cgu; }
	[data-school="cuc"] & { #{$prop}: $color-cuc; }
	[data-school="scripps"] & { #{$prop}: $color-scripps; }
	[data-school="claremont-mckenna"] & { #{$prop}: $color-claremont-mckenna; }
	[data-school="harvey-mudd"] & { #{$prop}: $color-harvey-mudd; }
	[data-school="pitzer"] & { #{$prop}: $color-pitzer; }
	[data-school="kgi"] & { #{$prop}: $color-kgi; }
}