// Standard Button
// ------------------------------------------ //

.ccl-b-btn {
    @extend .ccl-h4;
	@extend .ccl-u-transition-short;
    appearance: none;
    background: none;
    border: 1px solid;
    border-radius: 0;
    box-shadow: none;
    color: $color-text-main;
    cursor: pointer;
	display: inline-block;
    margin-top: 0;
    padding: 0.8rem 1rem;
    text-align: center;
    text-shadow: none;
	
	&:hover {
        background-color: rgba(black, 0.1);
        @include school-style( background-color, 0.1 );
        @include school-style( color );
	}

    &:focus {
		outline: 0;
        box-shadow: $focus-box-shadow-lg;
    }

    .ccl-c-search-bar &.ccl-c-dropdown__toggle {
        border-color: transparent;
        &:focus {
            border: 1px solid black;
        }
    }


    // Inverse Button
    // ------------------------------------------ //
    &.ccl-is-inverse {
        border-color: white;
        color: white;
        &:hover, &:focus {
            color: white;
            background-color: rgba(white, 0.25);
        }
        &:focus {
            outline: 0;
            box-shadow: $focus-box-shadow-lg;
        }
    }

    // Small Button
    // ------------------------------------------ //
    &.ccl-is-small {
        @extend .ccl-h5;
        margin-top: 0;
        padding: 0.4em 0.5em;
    }

    // Disabled Button
    // ------------------------------------------ //
    &[disabled], &.ccl-is-disabled {
        cursor: default;
        opacity: 0.3;
        pointer-events: none;
        &:hover, &:focus {
            color: $color-text-main;
            border-color: black;
            background: none;
        }
    }

    // Solid Button
    // ------------------------------------------ //
    &.ccl-is-solid {
        border-color: transparent;
        background: $color-text-main;
        color: white;
        &:hover, &:focus {
            color: white;
            background-color: rgba($color-text-main, 0.75);
            @include school-style(background-color, 0.75);
        }

        @each $key, $hex in $school-map {
            [data-school="#{$key}"] & {
                @if lightness($hex) < 50 {
                    color: white;
                } @else {
                    color: black;
                }
            }
        }
    }

    &.ccl-is-solid.ccl-is-inverse {
        background: white;
        color: $color-text-main;
        &:hover, &:focus {
            background: rgba(white, 0.75);
        }
    }

    &.ccl-is-solid[disabled], 
    &.ccl-is-solid.ccl-is-disabled {
        background: rgba(black, 0.35);
        pointer-events: none;
        &:hover, &:focus {
            border-color: transparent;
            color: white;
        }
    }

    &.ccl-is-naked {
        padding: 0;
        background: 0 0;
        border: 0;
        -webkit-appearance: none;
    }

    &.ccl-is-brand-inverse {
        
        @each $key, $hex in $school-map {
            [data-school="#{$key}"] & {
                @if lightness($hex) < 50 {
                    color: white;
                } @else {
                    color: black;
                }
            }
        }

        &.ccl-is-solid {
            @each $key, $hex in $school-map {
                [data-school="#{$key}"] & {
                    @if lightness($hex) < 50 {
                        background-color: white;
                        color: $hex;
                    } @else {
                        background-color: black;
                        color: $hex;
                    }
                }
            }
        }

        &:hover, &:focus {
            opacity: 0.5;
        }

    }
}

// Circular Button
// ------------------------------------------ //
.ccl-b-btn--circular {
    @extend .ccl-u-transition-short;
    background: rgba(white, 0.5);
    border: 1px solid black;
    border-radius: 50%;
    font-size: rem(24);
    height: rem(48);
    line-height: 0;
    position: relative;
    width: rem(48);
    @include media($lg) {
        width: rem(60);
        height: rem(60);
    }

    &:hover {
        background: rgba( white, 0 );
        color: white;
        border-color: transparent;
        &:before {
            transform: scale(1);
        }
    }
    &:active {
        transform: scale(0.9);
    }
    &:focus {
        outline: 0;
        box-shadow: $focus-box-shadow-lg black;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 50%;
        z-index: -1;
        transform: scale(0);
        transition: all 100ms ease-out;
        @include school-style(background-color);
    }

    [disabled],
	&.ccl-b-btn--disabled,
	&.slick-disabled {
        opacity: 0.3;
        color: black;
        background: rgba(white, 0.5);
        cursor: default;
        border-color: black;
        pointer-events: none;
        &:before {
            transform: scale(0);
        }
    }
}