.ccl-b-close {
    float: right;
    font-size: 1.5rem; //$close-font-size;
    font-weight: 700; //$close-font-weight;
    line-height: 1;
    color: black; //$close-color;
    outline: 0;

    &:hover,
    &:focus {
        color: black; //$close-color;
        text-decoration: none;
    }

    .ccl-c-alert & {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1.3rem $gutter;
        color: inherit;
    }
}

button.ccl-b-close {
    @extend .ccl-b-btn.ccl-is-naked;
}