.ccl-b-input[type="radio"],
.ccl-b-input[type="checkbox"] {
    display: none;
}

.ccl-b-label {
    
    .ccl-b-input[type="radio"] + &,
    .ccl-b-input[type="checkbox"] + & {
        $radio-size: 24px;
        $radio-size-big: 40px;

        padding-left: $radio-size + $gutter;
        position: relative;        
        cursor: pointer;
        width: auto;

        .ccl-c-quiz-card & {
            @extend .ccl-u-mb-1;
            padding-left: $radio-size-big + $gutter;
            @include media($sm) {
                padding-left: $radio-size-big + ($gutter * 2);
            }
            @include media($md) {
                padding-left: $radio-size-big + ($gutter * 3);
            }
        }
    
        &:before {  
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: $radio-size;
            height: $radio-size;
            border: 3px solid black;
            cursor: pointer;
            transform: translateY(-50%);
            
            .ccl-c-quiz-card & {
                width: $radio-size-big;
                height: $radio-size-big;
                border-color: white;
                left: $gutter/2;
                @each $key, $hex in $school-map {
                    @if ( lightness($hex) > 49 ) {
                        [data-school="#{$key}"] & {
                            border-color: black;
                        }
                    }
                }

                @include media($sm) {
                    left: $gutter;
                }
            }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            background: black;
            left: ($radio-size/4);
            width: $radio-size/2;
            height: $radio-size/2;
            transition: all 100ms ease-out;
            transform: translateY(-50%) scale(0);

            .ccl-c-quiz-card & {
                left: $gutter + ($radio-size-big/4);
                width: $radio-size-big/2;
                height: $radio-size-big/2;
                background-color: white;
                @each $key, $hex in $school-map {
                    @if ( lightness($hex) > 49 ) {
                        [data-school="#{$key}"] & {
                            background-color: black;
                        }
                    }
                }
            }
        }
    }

    .ccl-b-input[type="radio"] + & {
        &:before {
            border-radius: 50%;
        }
        &:after {
            border-radius: 50%;
        }
    }
    .ccl-b-input[type="checkbox"] + & {
        &:before {
            border-radius: 4px;
        }
        &:after {
            border-radius: 2px;
        }

        .ccl-c-quiz-card & {
            &:before {
                border-radius: 12px;
            }
            &:after {
                border-radius: 6px;
            }
        }
    }
    

    .ccl-b-input[type="radio"]:not(:checked) + &:hover:after,
    .ccl-b-input[type="checkbox"]:not(:checked) + &:hover:after {
        transform: translateY(-50%) scale(0.5);
    }
    .ccl-b-input[type="radio"]:checked + &:after,
    .ccl-b-input[type="checkbox"]:checked + &:after {
        transform: translateY(-50%) scale(1);
        background-color: black;
        @include school-style(background-color);

        .ccl-c-quiz-card & {
            background-color: white;
            @each $key, $hex in $school-map {
                @if ( lightness($hex) > 49 ) {
                    [data-school="#{$key}"] & {
                        background-color: black;
                    }
                }
            }
        }
    }
    
}