.ccl-b-input[type="radio"],
.ccl-b-input[type="checkbox"] {
    display: none;
}

.ccl-b-label {
    @extend .ccl-u-transition;
    display: block;
    font-weight: bold;

    .ccl-b-input[type="radio"] + &,
    .ccl-b-input[type="checkbox"] + & {
        $radio-size: 24px;
        $radio-size-big: 40px;

        padding-left: $radio-size + $gutter;
        position: relative;        
        cursor: pointer;
        width: auto;

        .ccl-c-quiz-card & {
            @extend .ccl-u-mb-1;
            padding-left: $radio-size-big + $gutter;
            @include media($sm) {
                padding-left: $radio-size-big + ($gutter * 2);
            }
            @include media($md) {
                padding-left: $radio-size-big + ($gutter * 3);
            }
        }
    
        &:before {  
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: $radio-size;
            height: $radio-size;
            border: 3px solid black;
            cursor: pointer;
            transform: translateY(-50%);
            
            .ccl-c-quiz-card & {
                width: $radio-size-big;
                height: $radio-size-big;
                border-color: white;
                left: $gutter/2;
                @include media($sm) {
                    left: $gutter;
                }
            }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            background: black;
            left: ($radio-size/4);
            width: $radio-size/2;
            height: $radio-size/2;
            transition: all 100ms ease-out;
            transform: translateY(-50%) scale(0);

            .ccl-c-quiz-card & {
                left: $gutter + ($radio-size-big/4);
                width: $radio-size-big/2;
                height: $radio-size-big/2;
                background: white;
            }
        }
    }

    .ccl-b-input[type="radio"] + & {
        &:before {
            border-radius: 50%;
        }
        &:after {
            border-radius: 50%;
        }
    }
    .ccl-b-input[type="checkbox"] + & {
        &:before {
            border-radius: 4px;
        }
        &:after {
            border-radius: 2px;
        }

        .ccl-c-quiz-card & {
            &:before {
                border-radius: 12px;
            }
            &:after {
                border-radius: 6px;
            }
        }
    }
    

    .ccl-b-input[type="radio"]:not(:checked) + &:hover:after,
    .ccl-b-input[type="checkbox"]:not(:checked) + &:hover:after {
        transform: translateY(-50%) scale(0.5);
    }
    .ccl-b-input[type="radio"]:checked + &:after,
    .ccl-b-input[type="checkbox"]:checked + &:after {
        transform: translateY(-50%) scale(1);
        background: black;
        .ccl-c-quiz-card & {
            background: white;
        }
    }
    
}

.ccl-b-input[type="text"],
.ccl-b-input[type="email"],
.ccl-b-input[type="tel"],
.ccl-b-input[type="url"],
.ccl-b-input[type="search"],
.ccl-b-input[type="number"],
.ccl-b-input[type="password"],
textarea.ccl-b-input {
    @extend .ccl-u-transition;
    display: block;
    width: 100%;
    line-height: 1;
    color: inherit;
    border: 1px solid lightgray;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0.5rem;
    outline: 0;
    @include placeholder {
        color: lightgray;
    }

    &:hover {
        color: $blue;
    }
    &:focus {
        border-color: $blue;
        color: $blue;
    }

    .ccl-c-search__bar & {
        @extend .ccl-h3;
        @extend .ccl-u-mt-0;
        color: black;
        border: 0;
        padding: 0;
        @include placeholder {
            color: black;
        }
    }
}

.ccl-b-select {
    -webkit-appearance: none;
    border: 1px solid;
    border-radius: 0;
    background-color: transparent;
    background-image: url(../images/caret-down-black@2x.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px auto;
    padding: 0.6rem 30px 0.6rem 0.5rem;
    outline: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: inherit;

    &.ccl-is-inverse {
        background-image: url(../images/caret-down-white@2x.png);
        color: white;
    }

    &.ccl-is-naked {
        border: 0;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .ccl-c-user-nav__menu & {
        @extend .ccl-h5;
        margin: 0;
    }

    .ccl-c-search__bar & {
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        margin: -1rem 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 60px;
        background-position: right 25px center;
        border: 0;
    }
}