.ccl-b-logo {
    display: block;
    background-repeat: no-repeat;
    background-position: 0 0;

    &.ccl-is-vert {
        width: 220px;
        height: 70px;
        background-image: url(../images/vital-vert-inverse@2x.png);
        background-size: 100%;
    }

    &.ccl-is-horz {
        width: 368px;
        height: 56px;
        background-image: url(../images/vital-horz@2x.png);
        background-size: 100%;
    }
}