
/* Wordpress Media elements
 * -----------------------------------------------------------*/

.wp-caption {
	max-width: 100%;
}
.wp-caption-text {
	font-size: rem(12);
	color: gray;
}

/* Responsive Media
 * -----------------------------------------------------------*/
.ccl-b-media {
	position: relative;
	height: 0;
	overflow: hidden;

	iframe, video, object {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
	}
}

.ccl-b-media--1x2 {
	@extend .ccl-b-media;
	padding-top: 50%;
}

.ccl-b-media--16x9 {
	@extend .ccl-b-media;
	padding-top: 56.25%;
}

.ccl-b-media--4x3 {
	@extend .ccl-b-media;
	padding-top: 75%;
}

.ccl-b-media--1x1 {
	@extend .ccl-b-media;
	padding-top: 100%;
}
