$border-color-select: rgba(black, 0.6);

.ccl-b-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid $border-color-select;
    border-radius: 0;
    background-color: transparent;
    background-image: url(../images/caret-down-black@2x.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px auto;
    padding: 0.6rem 30px 0.6rem 0.5rem;
    outline: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: inherit;

    // hides arrow toggle on IE
    &::-ms-expand {
        display: none;
    }

    &:focus {
        outline: 1px dotted $border-color-select;
    }

    &.ccl-is-naked {
        border: 0;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    &.ccl-is-inverse {
        background-image: url(../images/caret-down-white@2x.png);
        color: white;
    }

    .ccl-c-user-nav__menu & {
        font-size: rem(14);
        line-height: 1.3em;
        font-weight: 500;
        padding-top: 0.2em;
        padding-bottom: 0.1em;
        background-image: url(../images/caret-down-white@2x.png);
        color: white;
        border-color: white;

        &:focus {
            outline: 1px dotted white;
            background-color: black;
            color: white !important;
        }
        
        @each $key, $hex in $school-map {
            @if ( lightness($hex) >= 50 ) {
                [data-school="#{$key}"] & {
                    color: black;
                    border-color: black;
                    background-image: url(../images/caret-down-black@2x.png);
                    
                    &:focus {
                        outline: 1px dotted black;
                    }
                }
            }
        }

    }

    .ccl-c-search-form__option & {
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        margin: -1rem 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 40px;
        background-position: right 15px center;
        border: 0;
        flex-basis: 100%;
    }
}