
// Normalize tables

table {
    border-collapse: collapse;
    background-color: transparent;
	margin: $spacer 0 0;
}
caption {
    @extend .ccl-u-text-left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: $gray;
}
th {
    @extend .ccl-u-text-left;
}

// CCL Table styles

.ccl-b-table {
    width: 100%;
    
    td, th {
        padding: 1rem 0.5rem;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    thead th {
        @extend .ccl-h4;
        @extend .ccl-u-mt-0;
        border-bottom: 1px solid;
        
    }
    tfoot th {
        border-top: 1px solid;
    }
}

.ccl-b-table--striped {
    @extend .ccl-b-table;
    
    td, th {
        &:first-child, &:last-child {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
    
    tbody > tr:nth-child(odd) {
        background: rgba(black, 0.05);
    }
}

.ccl-is-hoverable {
    &.ccl-b-table,
    &.ccl-b-table--striped {
        tbody tr:hover td {
            background: rgba(black, 0.1);
        }
    }
}

table.ccl-is-responsive {

    @include media($md - 1, max){

        thead {
            display: none;
        }
        
        tr {
            display: block;
            width: 100%;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        td,th {
            display: block;
            width: 100%;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

}