
// Colors
// ------------------------------------------- /

// core brand colors
$red: #CC0000;
$blue: #126DB5;

// school colors
$color-pomona: #006FB9 !default;
$color-cgu: #af1e27 !default;
$color-cuc: #472782 !default;
$color-scripps: #4A857F !default;
$color-claremont-mckenna: #860A2D !default;
$color-harvey-mudd: #FDBD10 !default;
$color-pitzer: #F79F3D !default;
$color-kgi: #00758F !default;

// school map
$school-map: (
    'default':           black,
    'cgu':               $color-cgu,
    'claremont-mckenna': $color-claremont-mckenna,
    'cuc':               $color-cuc,
    'harvey-mudd':       $color-harvey-mudd,
    'kgi':               $color-kgi,
    'pitzer':            $color-pitzer,
    'pomona':            $color-pomona,
    'scripps':           $color-scripps,
);

// color map
$color-map: (
    'black' : black,
    'white' : white,
    'red'   : $red,
    'blue'  : $blue,
);

// text
$color-text-main: black;

// links
$color-link: $blue;
$color-link-active: darken( $color-link, 20% );

// code
$color-code: black;

// blockquote
$color-blockquote: black;

// selection
$color-background-selection: lightblue;
$color-selection-text: white;

// social media
$color-facebook: #3b5997;
$color-twitter: #55abed;
$color-youtube: #cd201f;
$color-linkedin: #0077b4;
$color-google: #F44336;
