
// States
// ------------------------------------------- /
$focus-box-shadow-sm: 0 0 5px;
$focus-box-shadow-lg: 0 0 15px -5px;


// Search Bar
// ------------------------------------------- /
$search-bar-padding: 1rem;