
// Typography
// ------------------------------------------- /

$font-main: "Gotham Narrow A", "Gotham Narrow B", "Arial", sans-serif;
$font-code: "Menlo", monospace;
$font-pre: "Menlo", monospace;
$leading: 1.5;
$font-line-height-pre: 1.6rem;