
// Typography
// ------------------------------------------- /

$gotham-narrow-light: "GothamNarrow-Light", "Arial", sans-serif;
$gotham-narrow-book: "GothamNarrow-Book", "Arial", sans-serif;
$gotham-narrow-medium: "GothamNarrow-Medium", "Arial", sans-serif;
$font-main: $gotham-narrow-book;
$font-code: "Menlo", monospace;
$font-pre: "Menlo", monospace;
$leading: 1.5rem;
$font-line-height-pre: 1.6rem;