// Common Breakpoints
// ------------------------------------------- /
$sm: 500px;
$md: 768px;
$lg: 1000px;
$xl: 1500px;

// Grid
// ------------------------------------------- /
$max-width: rem(1080);

$gutter: 18px;
$columns: 10;
// $default-columns: 2;
// $sm-columns: 4;
// $md-columns: 6;
// $lg-columns: 10;
// $max-columns: $lg-columns;

// $neat-grid: (
//   columns: $default-columns,
//   gutter: $gutter,
// );
// $neat-grid-sm: (
//   columns: $sm-columns,
//   gutter: $gutter,
//   media: $sm
// );
// $neat-grid-md: (
//   columns: $md-columns,
//   gutter: $gutter,
//   media: $md
// );
// $neat-grid-lg: (
//   columns: $lg-columns,
//   gutter: $gutter,
//   media: $lg
// );


// Colors
// ------------------------------------------- /
$red: #CC0000;
$blue: #126DB5;

$color-map: (
    'black' : black,
    'white' : white,
    'red'   : $red,
    'blue'  : $blue,
);

$color-text-main: black;

$color-link: black;
$color-link-visited: $red;
$color-link-hover: $red;

$color-code: black;

$color-blockquote: black;

$color-background-body: white;
$color-background-hr: lightgray;
$color-background-pre: #eeeeee;

$color-background-selection: lightblue;
$color-selection-text: white;

$color-btn: $color-text-main;
$color-btn-hover: $color-text-main;
$color-btn-bg: lightgray;
$color-btn-bg-hover: gray;
$color-btn-disabled: gray;
$color-btn-disabled-bg: lightgray;

$color-border-input: #cccccc;
$color-border-input-hover: #cccccc;
$color-border-input-focus: #cccccc;

$color-text-input: #333333;
$color-text-input-hover: #111111;
$color-text-input-focus: lightblue;

$color-text-muted: lightgray;

$color-facebook: #3b5997;
$color-twitter: #55abed;
$color-youtube: #cd201f;
$color-linkedin: #0077b4;
$color-google: #F44336;


// Typography
// ------------------------------------------- /
$gotham-narrow-light: "GothamNarrow-Light", "Arial", sans-serif;
$gotham-narrow-book: "GothamNarrow-Book", "Arial", sans-serif;
$gotham-narrow-medium: "GothamNarrow-Medium", "Arial", sans-serif;
$font-main: $gotham-narrow-book;
$font-code: "Menlo", monospace;
$font-pre: "Menlo", monospace;
$leading: 1.5rem;
$font-line-height-pre: 1.6rem;


// Tables
// ------------------------------------------- /
$table-bg: transparent;
$table-bg-accent: gray;
$table-bg-hover: gray;
$table-bg-nested: transparent;
$table-cell-padding: 0.5em;
$line-height-base: $leading;
$table-border-color: gray;
$table-condensed-cell-padding: 5px;
