// Common Breakpoints
// ------------------------------------------- /
$sm: 500px;
$md: 768px;
$lg: 1000px;
$xl: 1500px;

// Grid
// ------------------------------------------- /
$max-width: rem(1080);

$gutter: 18px;
$default-columns: 2;
$sm-columns: 4;
$md-columns: 8;
$lg-columns: 12;
$max-columns: $lg-columns;

// Colors
// ------------------------------------------- /
$red: #CC0000;
$blue: #126DB5;

$color-map: (
    'black' : black,
    'white' : white,
    'red'   : $red,
    'blue'  : $blue,
);

$color-text-main: black;

$color-link: black;
$color-link-visited: $blue;
$color-link-hover: $blue;

$color-code: black;

$color-blockquote: black;

$color-background-selection: lightblue;
$color-selection-text: white;

$color-facebook: #3b5997;
$color-twitter: #55abed;
$color-youtube: #cd201f;
$color-linkedin: #0077b4;
$color-google: #F44336;


// Typography
// ------------------------------------------- /
$gotham-narrow-light: "GothamNarrow-Light", "Arial", sans-serif;
$gotham-narrow-book: "GothamNarrow-Book", "Arial", sans-serif;
$gotham-narrow-medium: "GothamNarrow-Medium", "Arial", sans-serif;
$font-main: $gotham-narrow-book;
$font-code: "Menlo", monospace;
$font-pre: "Menlo", monospace;
$leading: 1.5rem;
$font-line-height-pre: 1.6rem;


// States
// ------------------------------------------- /
$focus-box-shadow-sm: 0 0 5px;
$focus-box-shadow-lg: 0 0 15px -5px;

// Search Bar
// ------------------------------------------- /
$search-bar-padding: 1rem;