$color-alert: #fff;
$color-alert-warning: #b46100;
$color-alert-error: $red;
$color-alert-muted: $gray;

.ccl-c-alert {
    position: relative;
    padding: 1.3rem $gutter;
    margin-bottom: 1px;
    background-color: $color-alert;
    color: black;
    overflow: hidden;
    font-size: rem(18);
    line-height: 1;
    border: 1px solid;
    border-left: $spacer solid;

    &.ccl-is-warning {
        color: $color-alert-warning;
    }
    &.ccl-is-error {
        color: $color-alert-error;
    }
    &.ccl-is-muted {
        color: $color-alert-muted;
    }

    & > * {
        margin-top: 0;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }
}