// Slick Library styles
// ------------------------------------------- //
.slick-track {
    @extend .ccl-u-clearfix;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
}

// CCL Carousel
// ------------------------------------------- //
.ccl-c-carousel {
    @extend .ccl-u-clearfix;

    @include media($lg) {
        margin-left: 0;
        margin-right: -$gutter;
    }

    &.ccl-is-static {
        display: flex;
        margin: 0 $gutter / -2;
    }
}

.ccl-c-carousel__slide {
    float: left;
    padding: 0 $gutter/2;
    transition: opacity 300ms ease-out;
    outline: 0;

    a {
        display: block;
    }

    .ccl-is-static & {
        float: none;
        
        &:not(:first-child) {
            display: none;
        }

        @include media($sm) {
            &:nth-child(2) {
                display: block;
            }
        }
        @include media($md) {
            &:nth-child(3) {
                display: block;
            }
        }
    }

    &.ccl-is-past {
        opacity: 0.05;
        pointer-events: none;
    }
}

.ccl-c-carousel__paging {
    @extend .ccl-u-clean-list;
    margin-top: $spacer;

    li {
        display: inline-block;
        margin-right: 0.5rem;

        &.slick-active button {
            background-color: black;
            @include school-style(background-color);
        }
        button:focus {
            box-shadow: $focus-box-shadow-sm;
        }
    }

    button {
        @extend .ccl-u-transition;
        border: 1px solid black;
        background: none;
        width: rem(16);
        height: rem(16);
        border-radius: 50%;
        text-indent: -9999px;
        overflow: hidden;
        outline: 0;
        @include school-style(border-color);

        &:hover {
            background-color: black;
            @include school-style(background-color);
        }
    }
}
