// Slick Library styles
// ------------------------------------------- //
.slick-track {
    @extend .ccl-u-clearfix;
    margin: 0 -$gutter/2;
}

// CCL Carousel
// ------------------------------------------- //
.ccl-c-carousel {
    @extend .ccl-u-clearfix;
    margin-right: -$gutter;
}

.ccl-c-carousel__slide {
    float: left;
    padding: 0 $gutter/2;
    transition: opacity 300ms ease-out;
    outline: 0;

    &.ccl-is-past {
        opacity: 0.05;
        pointer-events: none;
    }
}

.ccl-c-carousel__paging {
    @extend .ccl-u-clean-list;
    margin-top: $leading;

    li {
        display: inline-block;
        margin-right: 0.5rem;

        &.slick-active button {
            background: black;
        }
        button:focus {
            box-shadow: $focus-box-shadow-sm;
        }
    }

    button {
        @extend .ccl-u-transition;
        border: 1px solid black;
        background: none;
        width: rem(14);
        height: rem(14);
        border-radius: 50%;
        text-indent: -9999px;
        overflow: hidden;
        outline: 0;
        &:hover {
            background: black;
        }
    }
}
