
.ccl-c-database {
    border-top: 1px solid black;
    
    .ccl-c-database__meta{
        display: flex;
        flex-direction: column;
        
        @include media( #{$lg - 1}, max ){
            
            & > li {
                 &:not(:first-of-type){
                    margin-top: $spacer/3;                
                }           
            }            
        }
        
        @include media($lg){
            flex-direction: row;
        }
    
        & > li {
            flex: 0 0 auto;
            
            &:not(:last-of-type){
                margin-right: $spacer;
            }

        }
        
        .ccl-c-database__formats{
            flex: 0 1 auto;
        }
    }

    
}

.ccl-c-best-bet{
    border: 1px solid rgba(black, .2);
    padding: rem(4) rem(8);
    background-color: rgba( black, .3 );
    color: white;
    letter-spacing: .03em;
    display: inline-block;
}


.ccl-c-database-related{
    
    margin-top: $spacer;
    
    .ccl-c-database-related__item{
        display: flex;
        margin-top: .75rem;
        border-top: 1px solid rgba( black, .06 );
        padding-top: $spacer/2;
        
        
        .ccl-c-database-related__profile{
            background-size: cover;
            border-radius: 50%;
            background-position-y: 50%; 
            //margin-right: $spacer;
            
            //margin: 0 auto;
            width: 80px;
            height: 80px;
            flex: 0 1 auto;
            //padding-top: 25%;
            
            // @include media( $md ){
                
            //     position: relative;
            //     overflow: hidden;
            //     padding-top: 100%;
            //     height: inherit;
            //     width: inherit;
            //     margin: initial;
               
                
            // }    
            
        }
        
        .ccl-c-database-related__name{
            margin-left: $spacer;
            flex: 2;
        }
        
    }
    
   
    
}


/**
* AJAX Searchbox for searching databases
*
*///////////////////////////////////////

.ccl-c-post-search{
    @extend .ccl-c-search-form;
    
    @include media( $lg ){
        margin-left: $spacer*3;
    }

    
    .ccl-c-post-search__form {
        flex: 1;
        
        .ccl-c-post-search__textbox{
            @extend .ccl-c-database-filter__textbox;
            border: 1px solid !important;
            width: 100%;
            position: relative;
            
            &:after {
                content: "Searching...";
                display: none;
                position: absolute;
                bottom: 0;
                left: $search-bar-padding;
                font-size: rem(14);
                font-weight: 400 !important;
                color: $gray;
            }
            
            &.ccl-is-loading:after {
                display: block;
                animation: pulse 1s infinite;
            }        
            
            i {
                @extend .ccl-u-weight-bold;
                @extend .ccl-u-font-size-lg;
                
            }
            
            .ccl-b-input{
                padding-left: $spacer*2 !important;
                
            }        
        }       
    }
    

}

.ccl-c-post-search__results{
    display: none;
    padding: 0 1rem;
    background: #fff;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
    z-index: 900;
    width: 100%;
    position: absolute;
    top: 100%;
    max-height: rem(400);
    overflow: auto;
    border: 1px solid rgba( black, 0.3 );
    
    @include media( $md ){
        border: none;
    }
    
    .ccl-c-post-search__results-ul{
        @extend .ccl-u-clean-list;
        
        .ccl-c-search--close-results{
            display: flex;
            justify-content: space-between;
            padding: $spacer/1.5 0;
            
            .ccl-b-close{
                @extend .ccl-u-transition;                
                float: none;
                
                &:hover,
                &:focus{
                    color: black;
                    @include school-style( color );                    
                }
            }
        }
    
        & > li:not(:first-of-type) {
            display: flex;
            border-top: 1px solid rgba( black, 0.3 );
            line-height: 1;
            
            .ccl-c-database-search__result-item{
                @extend .ccl-u-font-size-lg;
                font-weight: 700;
                width: 100%;
                padding: $spacer/2 0 $spacer/2 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                
                &:hover,
                &:focus{
                
                    color: black;
                    @include school-style( color );
                    
                    span{
                        opacity: 1;
                    }
                }
                
                span{
                    @extend .ccl-u-faded;
                    @extend .ccl-u-transition;
                    
                    &:last-of-type{
                        margin-left: auto;
                    }
                    
                }
                
            }
        }
        
        
    }
}

/**
* Styles for database by letter
*
*///////////////////////////////////////

.ccl-c-database__by-alpha{
    
    .ccl-c-database__letter{
        @extend .ccl-h4; 
        //@extend .ccl-u-mt-nudge; 
        @extend .ccl-u-display-inline-block;
        @extend .ccl-u-weight-bold;
        border-right: 2px solid rgba( black, 0.6 );
        
        &:last-of-type{
            border-right: none;
        }
        
        a,span{
            padding: $spacer/4 rem(16);
            display: inline-block;
        }
        
    }

}