.ccl-c-database {
    border-top: 1px solid black;

    
}

.ccl-u-best-bet{
    border: 1px solid rgba(black, .2);
    padding: rem(4) rem(8);
    background-color: rgba( black, .3 );
    color: white;
}


.ccl-c-database-related{
    
    margin-top: $spacer;
    
    .ccl-c-database-related__item{
        display: flex;
        margin-top: .75rem;
        border-top: 1px solid rgba( black, .06 );
        padding-top: $spacer/2;
        
        
        .ccl-c-database-related__profile{
            background-size: cover;
            border-radius: 50%;
            background-position-y: 50%; 
            //margin-right: $spacer;
            
            //margin: 0 auto;
            width: 70px;
            height: 70px;
            //padding-top: 25%;
            
            // @include media( $md ){
                
            //     position: relative;
            //     overflow: hidden;
            //     padding-top: 100%;
            //     height: inherit;
            //     width: inherit;
            //     margin: initial;
               
                
            // }    
            
        }
        
        .ccl-c-database-related__name{
            margin-left: $spacer;
        }
        
    }
    
   
    
}

