.ccl-c-dropdown {
    position: relative;

    .ccl-c-search-form & {
        flex-shrink: 0;
        margin-top: -$search-bar-padding;
        margin-bottom: -$search-bar-padding;
    }

}

.ccl-c-dropdown__toggle {
    display: flex;
    align-items: center;

    .ccl-c-quick-nav__item & {
        align-items: flex-end;
    }

    & > span {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.ccl-c-dropdown__content {
    background: white;
    box-shadow: $box-shadow;
    display: none;
    left: -$gutter;
    margin: 0;
    max-width: 100%;
    min-width: rem(280);
    padding: 0 $gutter;
    position: absolute;
    top: 100%;
    z-index: 10;
    
    .ccl-c-quick-nav & {
        max-height: calc(100vh - 64px - 40px);
        overflow: auto;

        @include media($md) {
            overflow: visible;
            max-height: none;
        }
    }

    .ccl-is-active & {
        display: block;
    }

    .ccl-c-quick-nav__item & {
        left: 0;
        margin-top: 1px;
    }
}