.ccl-c-dropdown {
    position: relative;

    .ccl-c-search__bar & {
        flex-shrink: 0;
        margin-top: -$search-bar-padding;
        margin-bottom: -$search-bar-padding;
    }

}

.ccl-c-dropdown__toggle {
    @extend .ccl-u-display-block;
    height: 100%;
    &:hover {
        color: $color-link-hover;
    }
}

.ccl-c-dropdown__menu {
    background: white;
    border: 1px solid black;
    border-top: 0;
    box-shadow: 0 2px 5px -3px;
    display: none;
    left: 0;
    list-style: none;
    max-width: rem(200);
    margin: -1px 0 0;
    padding: 0 1rem;
    position: absolute;
    top: 100%;
    z-index: 10;

    .ccl-c-dropdown__toggle:focus + & {
        display: block;
    }
}

.ccl-c-dropdown__item {
    @extend .ccl-h4;
    @extend .ccl-u-mt-0;
    border-top: 1px solid black;

    &:first-child {
        border-top: 0;
    }
    
    &:hover, &:focus {
        color: $blue;
    }

    a {
        @extend .ccl-u-display-block;
        padding: 0.5em 0;
    }
}