.floor-map-plans {
    position: relative;
    height: 550px;
    width: 700px;
    margin: 0 auto;
    perspective: 1700px;
}

.floor-plan { 
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1700px;
    transition: all 300ms ease-out;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-30deg);
    box-shadow: -10px 10px 30px -20px;
    cursor: pointer;

    svg {
        display: block;
        width: 700px;
        transition: all 300ms ease-out;
        
    }

    p {
        @extend .ccl-h4;
        position: absolute;
        top: 41%;
        left: -8rem;
    }
    
    &.active {
        cursor: default;
    }
    &.below {
        opacity: 0.2;
        top: 3rem;
        &:nth-child(1) { top: 6rem; }
    }
    &.above {
        opacity: 0.2;
        top: -16rem;
        &:nth-child(3) { top: -19rem; }
    }
    &:hover:not(.active) {
        opacity: 0.6;
    }
}

.room {
    fill:#d8d8d8;
    stroke:#000;
    stroke-width:2px;
    transition: all 300ms ease-out;

    .active &:hover {
        opacity: 1;
        fill: white;
        stroke: #cc0000;
    }
}