
/* Basic Form Styles
 * ------------------------------------------- */

.ccl-c-form {
    @extend .ccl-u-display-block;
}

.ccl-c-form__label {
     @extend .ccl-u-display-block;
     width: 100%;
     padding-bottom: 0.25em;
}

.ccl-c-form__group {
    @extend .ccl-u-clearfix;
    @extend .ccl-u-display-block;
    @extend .ccl-u-mt-1;
    clear: both;
}

.ccl-c-form__field {
    display: block;
    width: 100%;
    color: $color-text-input;
    border: 1px solid $color-border-input;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0.5em;
    outline: 0;
    @include transition( all 300ms ease );

    &:hover {
        color: $color-text-input-hover;
    }
    &:focus {
        border-color: $color-text-input-focus;
        color: $color-text-input-focus;
    }

    @include placeholder {
        color: lightgray;
    }
}
