.ccl-c-guide-card{
    border-top: 1px solid lightgray;
    padding-top: rem(16);
    margin: $spacer 0 0 0;
    
    .ccl-c-guide-card__meta{
        @extend .ccl-u-faded;
        @extend .ccl-u-weight-bold;         
        margin: $spacer/2 0 0 $spacer/2; 
        display: flex;
        align-items: center;

        // & > * {
        //     margin-bottom: .5em;
        // }
            
        @include media( $md ){
            margin: 0;                
        }
    }

    
    
}

.ccl-c-guide-card__count{
    @extend .ccl-h4;
    @extend .ccl-u-faded;
    margin: 0;
    padding: 0 0 0 1rem;
    
}

.ccl-c-guide-card__title{
    //@extend .ccl-u-weight-bold;    
    margin-bottom: 0;
    font-size: rem(20);
    line-height: 1.5;
    
}

.ccl-c-guide-card__content{
    
    & > div {
        padding-left: rem( 8 );    
    
    @include media( $size: $md ){
        padding-left: 0;
        }
    }
}
