.ccl-c-hero {
    position: relative;
    background-size: cover;
    background-color: $blue;
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
    padding: 25vw 0 3rem;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: linear-gradient( to top, rgba(black, 0.9), rgba(black, 0.9) 20%, rgba(black, 0.1) );
    }

    a {
        color: white;
        &:hover, &:focus {
            opacity: 0.5;
        }
    }
}

.ccl-c-hero__container {
    @include ccl-l-container;
    padding: 0 $gutter/2;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

.ccl-c-hero__header {
    flex-basis: calc( 33.333% - #{ $gutter } );
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 $gutter/2;
}

.ccl-c-hero__content {
    flex-basis: calc( 66.666% - #{ $gutter });
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 $gutter/2; 
    display: flex;

    & > * {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
        margin-left: $gutter;
        &:first-child {
            margin-left: 0;
        }
    }

}

.ccl-c-hero__action {
    @extend .ccl-h4;
    @extend .ccl-u-display-block;
    margin-top: -$leading;
}

.ccl-c-hero__title {
    @extend .ccl-h1;
}

.ccl-c-hero__menu {
    @extend .ccl-u-clean-list;
    margin-top: $leading;
    li {
        @extend .ccl-h3;
        margin-top: 0;
    }
}