.ccl-c-hero {
    position: relative;
    background-size: cover;
    background-color: black;
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
    padding: 6rem 0 3rem;
    @include school-style(background-color);

    @include media($lg) {
        display: flex;
    }

    &.ccl-has-image {
        color: white;
        @include media($lg) {
            height: 56.25vw;
            max-height: rem(625);
        }
    }

    &.ccl-has-image:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: linear-gradient( to top, rgba(black, 0.9), rgba(black, 0.9) 20%, rgba(black, 0.1) );
    }

    &.ccl-is-short {
        padding-top: 3rem;
        &.ccl-has-image {
            max-height: rem(450);
        }        
    }

    a {
        color: inherit;
        &:hover, &:focus {
            color: inherit;
            opacity: 0.5;
        }
    }
}

.ccl-c-hero__container {
    @include ccl-l-container;
    position: relative;
    z-index: 1;
    @include media($lg) {
        padding: 0 $gutter/2;
        display: flex;
        width: 100%;
        align-items: flex-end;
    }
}

.ccl-c-hero__header,
.ccl-c-hero__content {
    @include media($lg) {
        flex-shrink: 1;
        flex-grow: 1;
        margin: 0 $gutter/2;
    }
}

.ccl-c-hero__header {
    @include media($lg) {
        flex-basis: calc( 50% - #{ $gutter } );
    }
}

.ccl-c-hero__content {
    
    @include media($md) {
        display: flex;
    }
    @include media($lg) {
        flex-basis: calc( 66.666% - #{ $gutter } );
    }

    & > * {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
        @include media($lg) {
            margin-left: $gutter;
            &:first-child {
                margin-left: 0;
            }
        }
    }

}

.ccl-c-hero__action {
    @extend .ccl-h4;
    @extend .ccl-u-display-block;
    margin-top: -$spacer;
}

.ccl-c-hero__title {
    @extend .ccl-h1;
}

.ccl-c-hero__menu {
    @extend .ccl-u-clean-list;
    margin-top: $spacer;
    li {
        @extend .ccl-h3;
        margin-top: 0;
    }
}