.ccl-c-hero {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5rem 0 2rem;
    @include school-style(background-color);

    &.ccl-has-search {
        @include media($lg) {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &.ccl-has-image {
        
        @include media( #{$lg - 1}, max ) {
            padding-top: 0;
            background-image: none !important;
        }
        @include media($lg) {
            color: white;
            min-height: rem(350);
            display: flex;
            align-items: flex-end;
        }
        
        & > * {
            position: relative;
        }
    }

    &.ccl-has-image:before {
        content: "";
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: linear-gradient( to top, rgba(black, 0.8), rgba(black, 0.8) 35%, rgba(black, 0.2) );

        @include media($lg) {
            display: block;
        }
    }
    // &.ccl-has-image.ccl-has-search:before {
    //     background: linear-gradient( to bottom, rgba(black, 0.8), rgba(black, 0.8) 60%, rgba(black, 0.35) );
    // }

    &.ccl-is-short {
        padding-top: 3rem;
        &.ccl-has-image {
            max-height: rem(450);
        }        
    }
}

.ccl-c-hero__thumb {
    background-size: cover;
    background-position: center;
    height: rem(200);
    @include media($lg) {
        display: none;
    }
}

.ccl-c-hero__content {

    @include media($lg) {
        display: flex;
        height: 100%;
        // align-items: flex-end;
    }

    a {
        color: inherit;
        &:hover, &:focus {
            color: inherit;
            opacity: 0.5;
        }
    }

    & > * {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
        @include media($lg) {
            margin-left: $gutter;
            &:first-child {
                margin-left: 0;
            }
        }
    }

}

.ccl-c-hero__action {
    @extend .ccl-h4;
    @extend .ccl-u-display-block;
}

.ccl-c-hero__title {
    @extend .ccl-h1;
}

.ccl-c-hero__menu {
    @extend .ccl-u-clean-list;
    margin-top: $spacer;
    flex-shrink: 0;

    li {
        @extend .ccl-h3;
        line-height: 1;
        margin-top: 0.25em;
        padding-top: 0.25em;
        border-top: 1px solid;
        
        .ccl-b-icon {
            display: block;
            font-size: 0.7em;
            float: right;
            margin-top: 0.15em;
            transition: transform $duration $easing, opacity $duration $easing;
            opacity: 0;
            transform: translate3d(0,-50%,0);
        }
        &:hover .ccl-b-icon {    
            transform: translate3d(0,0,0);
            opacity: 1;
        }
    }
}