.ccl-c-masthead {
    display: none;
    
    .home & {
        display: block;
        margin-top: 112px;
        @include media($md) {
            margin-top: 64px;
        }
        @include media($lg) {
            margin-top: 0;
        }
    }
    
    .home .ccl-c-quick-nav.ccl-no-secondary ~ & {
        margin-top: 70px;
        @include media($lg) {
            margin-top: 0;
        }
    }

    
}

.ccl-c-masthead__brand {
    padding: $spacer 0;
    @include media($lg){
        border-bottom: 1px solid;    
    }
}

.ccl-c-masthead__nav {
    position: relative;
    @include media($lg) {
        display: flex;
        flex-wrap: wrap;
    }
}

.ccl-c-masthead__nav-item {
    @include media($lg) {
        flex-basis: 33.333%;
        flex-shrink: 0;
    }
}

.ccl-c-masthead__status {
    @extend .ccl-u-clean-list;
    border-top: 1px solid lightgray;    
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;

    @include media($lg) {
        margin-top: $spacer;
    }

    li {
        padding: rem(10) 0 0 0;
        margin-left: $gutter/2;
        margin-right: $gutter/2; 
        flex: ccl-span( 12 );        
        
        @include media($size: $sm, $size2: $lg){
            flex: ccl-span( 6 );
        }

    }
}

.ccl-c-masthead__hours{
    @extend .ccl-u-clean-list;
   
    li {
        border-top: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        @include media($lg){
            padding: 0 0 rem(4) rem(10);            
        }
        
        span:not(:first-of-type){
            text-align: right;
        }
        
        .ccl-c-masthead__more-hours{
            margin-left: auto;
            text-transform: capitalize;
            
        }
    }
}


.ccl-c-masthead__event,
.ccl-c-masthead__notice{
    margin-bottom: $spacer;
    border-top: 1px solid lightgray;
    padding-top: rem(10);

    &:first-child {
        @include media($lg - 1, max) {
            border: 0;
            padding-top: 0;
        }
    }

}
