.ccl-c-masthead {
    display: none;
    
    .home & {
        display: block;
        margin-top: 112px;
        @include media($md) {
            margin-top: 64px;
        }
        @include media($lg) {
            margin-top: 0;
        }
    }
    
    .home .ccl-c-quick-nav.ccl-no-secondary ~ & {
        margin-top: 64px;
        @include media($lg) {
            margin-top: 0;
        }
    }

    
}

.ccl-c-masthead__brand {
    padding: $spacer 0;
    @include media($lg){
        border-bottom: 1px solid;    
    }
}

.ccl-c-masthead__nav {
    position: relative;
    @include media($lg) {
        display: flex;
        flex-wrap: wrap;
    }
}

.ccl-c-masthead__nav-item {
    @include media($lg) {
        flex-basis: 33.333%;
        flex-shrink: 0;
    }
}

.ccl-c-masthead__status {
    @extend .ccl-u-clean-list;
    @extend .ccl-u-mt-1;
    text-transform: uppercase;

    li {
        border-top: 1px solid lightgray;
        padding: rem(10) 0 rem(16);
        @include media($lg) {
            padding: rem(10) rem(16) rem(16);
        }
    }
}