.ccl-c-menu {
    @extend .ccl-u-clean-list;
    @extend .ccl-u-mt-1;

    a:focus {
        outline: 0;
    }

    .home .ccl-c-masthead & {
        display: none;
        @include media($lg) {
            display: block;
        }
    }
    
    .home & li.ccl-c-hide-from-home {
        display: none;
        
        + li{
            margin-top: 0 !important;
        }
    }
}

.ccl-c-sub-menu {    
    list-style: none;
    padding: 0;
    margin: 0;

    .ccl-is-primary > & {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}

.ccl-c-sub-menu-container {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: $box-shadow;
    padding: $gutter;
    min-height: 100%;
    background: white;
    z-index: 1;

    &.ccl-is-primary {
        left: 33.333%;
    }
    &.ccl-is-secondary {
        left: 66.666%;
    }
}

.menu-item {

    .ccl-c-menu & {
        position: relative;
        line-height: 1;
    }

    .ccl-c-menu.ccl-is-primary > & {
        
        &:not(:first-child) {
            margin-top: 0.9em;
        }

        & > a {
            font-size: rem(20);
            @include media($lg) {
                font-size: rem(24);
            }
        }
    }
    .ccl-c-menu.ccl-is-secondary > & {
        
        &:not(:first-child) {
            margin-top: 0.7em;
        }

        & > a {
            font-size: rem(18);
            @include media($lg) {
                font-size: rem(20);
            }
        }
    }

    .ccl-c-sub-menu & {
        text-transform: uppercase;
        font-size: rem(15);
        font-weight: 500;
        margin-bottom: 0.9em;

        .ccl-is-primary & {
            flex-basis: 30%;
            flex-shrink: 0;
            flex-grow: 1;
            &:not(:last-child) {
                margin-right: $gutter;
            }
        }
    }

    .ccl-c-menu & a {
        display: block;
        position: relative;

        .ccl-has-active-item &:not(.ccl-is-active) {
            color: $gray;
        }

        .ccl-b-icon {
            display: none;
            font-size: 0.8em;
            position: absolute;
            right: 100%;
            margin-right: rem(15);
            transform: scale(0.5);
            transition: transform $duration $easing;
        }
        &.ccl-is-active {
            .ccl-b-icon {
                transform: scale(1) rotate(90deg);
            }
        }
    }

    .ccl-c-menu &.menu-item-has-children > a:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 4px solid $gray;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        transform: rotate(45deg);
        transform-origin: 0 100%;
        margin-left: 5px;
        transition: transform $duration-short $easing;
    }
    .ccl-c-menu &.menu-item-has-children > a.ccl-is-active:after {
        transform: translate3d(5px,-2px,0) rotate(0deg);
    }
}

.ccl-non-link {
    display: block;
    color: $gray;
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.75em;
    margin-bottom: 0.9em;
    font-weight: 400;
}