.ccl-c-profile-card {
    border-top: 1px solid rgba(black,0.6);
    padding-top: $spacer;
    margin-top: $spacer;
    @include media($md) {
        display: flex;
    }
    @include media($lg) {
        margin-top: $spacer * 2;
    }
}

.ccl-c-profile-card__header {
    flex: 45%;
    display: flex;
    flex-direction: column;
}

.ccl-c-profile-card__title {
    @extend .ccl-h2;
    @include media($md) {
        margin-top: 0;
    }
}

.ccl-c-profile-card__list {
    @extend .ccl-u-clean-list;
    margin-top: $spacer;
    font-weight: bold;

    &:last-child {
        margin-top: auto;
    }
}

.ccl-c-profile-card__avatar {
    border-radius: 50%;
    overflow: hidden;
    width: auto;
    height: auto;
    max-height: rem(400);
    max-width: rem(400);
    flex-grow: 0;

    @include media($md) {
        margin-left: $gutter;
    }

    img {
        @extend .ccl-u-display-block;
    }
}