.ccl-c-promo__bio-image {
    @include media($lg) {
        width: 45%;
        padding-right: $gutter/2;
        float: left;
    }
    
    img {
        display: block;
        border-radius: 50%;
    }
}
.ccl-c-promo__quote {
    blockquote { 
        margin: 0;
    }
    @include media($lg) {
        width: 45%;
        padding-left: $gutter/2;
        float: left;
    }
}