.ccl-c-promo {
    @extend .ccl-u-clearfix;
    border-top: 1px solid rgba(black,0.6);
    padding-top: $spacer;
    margin-top: $spacer;
    @include media($lg) {
        margin-left: -$gutter/2;
        margin-right: -$gutter/2;
        padding-top: $spacer * 2;
        margin-top: $spacer * 2;
    }
}
.ccl-c-promo--slim {
    @extend .ccl-c-promo;
    display: flex;
    flex-direction: column;
    @include media($lg) {
        flex-direction: row;
    }
}

.ccl-c-promo__header {
    margin-bottom: $spacer;
    position: relative;
    z-index: 2;
    @include media($lg) {
        width: calc( 25% - #{$gutter} );
        float: left;
        margin: 0 $gutter/2 $spacer;
    }

    .ccl-c-promo--slim & {
        float: none;
        width: auto;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        @include media($lg) { 
            margin-bottom: $spacer * 3;
        } }
    .ccl-c-promo--slim.ccl-is-image_left & {
        order: 1;
        margin-bottom: $spacer * 3;
    }

    a {
        //display: block;
    }
}

.ccl-c-promo__title {
    @extend .ccl-h2;
    @extend .ccl-u-mt-0;
}

.ccl-c-promo__cta {
    @extend .ccl-u-mt-1;
    a{
        text-decoration: underline;    
    }
    
    & > * {
        margin-top: 0.5rem;
    }
}

.ccl-c-promo__action {
    margin-top: $spacer;
    @include media($lg) {
        margin-top: $spacer * 2;
    }
}

.ccl-c-promo__content {
    @extend .ccl-u-clearfix;
    margin-bottom: $spacer * 3;
    position: relative;
    z-index: 1;
    @include media($lg) {
        width: calc( 75% - #{$gutter} );
        float: left;
        margin: 0 ($gutter / 2) ($spacer * 3);
    }

    .ccl-c-promo--slim & {
        float: none;
        width: auto;
        margin-bottom: $spacer;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        @include media($lg) {
            max-width: 50%;
            margin-bottom: $spacer * 3;
        }
    }
    .ccl-c-promo--slim.ccl-is-image_right & {
        margin-bottom: $spacer * 3;
        order: 1;
    }
}

.ccl-c-promo__description {

    *:first-child {
        margin-top: 0;
    }

    a {
        border-bottom: 1px solid;
        color: inherit;
    }

    .ccl-c-carousel & {
        font-size: rem(14);
        * {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
    }
    
}
