.ccl-c-profile-card {
    border-top: 1px solid rgba(black,0.6);
    padding-top: $spacer;
    margin-top: $spacer;
    margin-bottom: $spacer * 3;
    @include media($lg) {
        margin-top: $spacer * 2;
    }

    .ccl-c-promo & {
        border-top: 0;
        padding-top: 0;
        margin-top: 0;
    }
}

.ccl-c-profile-card__header {
    flex: 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer;
}

.ccl-c-profile-card__title {
    @extend .ccl-h2;
    @include media($md) {
        margin-top: 0;
    }

    .ccl-c-promo & {
        @extend .ccl-h3;
        @include media($md) {
            margin-top: 0;
        }
    }
}

.ccl-c-profile-card__list {
    @extend .ccl-u-clean-list;
    margin-top: $spacer;
    font-weight: bold;
}

.ccl-c-profile-card__avatar {
    @extend .ccl-b-media--1x1;
    background-size: cover;
    border-radius: 50%;
}