.ccl-c-promo {
    @extend .ccl-u-clearfix;
    border-top: 1px solid black;
    padding-top: $leading;
    @include media($lg) {
        padding-top: $leading * 2;
    }

    a {
        @extend .ccl-u-display-block;
    }
}

.ccl-c-promo__header {
    @extend .ccl-u-mb-1;
    position: relative;
    z-index: 2;
}

.ccl-c-promo__title {
    @extend .ccl-h2;
    @extend .ccl-u-mt-0;
}

.ccl-c-promo__action {
    margin-top: $leading;
    @include media($lg) {
        margin-top: $leading * 2;
    }
}

.ccl-c-promo__content {
    @extend .ccl-u-clearfix;
    position: relative;
    z-index: 1;
}
