.ccl-c-quiz-card {
    background-color: $blue;
    color: white;
    padding: $gutter;
}

.ccl-c-quiz-card__header {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: rem(88);
    margin-bottom: 2rem;
    @include media($sm) {
        min-height: rem(120);
    }
}

.ccl-c-quiz-card__number {
    @extend .ccl-u-mt-0;
    font-size: rem(88);
    line-height: 0.7;
    text-align: center;
    width: #{ 40 + $gutter };
    flex-shrink: 0;
    flex-grow: 0;
    @include media($sm) {
        font-size: rem(120);
        width: #{ 40 + ($gutter * 2) };
    }
    @include media($md) {
        margin-right: $gutter;
    }
}

.ccl-c-quiz-card__title {
    @extend .ccl-h2;
    @extend .ccl-u-mt-0;
}
