.ccl-c-quick-nav {
    box-shadow: 0 3px 3px rgba(black, 0.2);
    position: absolute;
    top: 39px;
    left: 0;
    width: 100%;
    z-index: 1000;   
    transform: translate3d(0,0,0);
    opacity: 1;
    transition: transform $duration $easing, opacity $duration $easing;
    background-color: white;

    .admin-bar & {
        top: 85px;
        @include media($admin-bar-change-size) {
            top: 71px;
        }
    }

    .home & {
        @include media($lg) {
            opacity: 0;
            transform: translate3d(0,-150%,0);
        }
    }

    &.ccl-is-fixed {
        position: fixed;
        transform: translate3d(0,0,0);
        top: 0;
        opacity: 1;
        .admin-bar & {
            @include media($admin-bar-fix-point){
                top: $admin-bar-height-mobile;
            }
            @include media($admin-bar-change-size){
                top: $admin-bar-height-desktop;
            }
        }
        
    }
}

.ccl-c-quick-nav__bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 $gutter;
    width: 100%;

    .ccl-search-active & {
        flex-wrap: nowrap;
    }

    @include media($md) {
        flex-wrap: nowrap;
    }
}

.ccl-c-quick-nav__item {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    min-height: rem(64);

    @include media($md) {
        padding: 0 $gutter;
    }

    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        margin-left: auto;
    }

    &.ccl-is-brand {
        display: none;
        flex-basis: 20%;
        flex-shrink: 0;
        flex-grow: 0;
        @include media($lg) {
            display: flex;
        }
    }

    &.ccl-is-primary {
        border-bottom: 1px solid;

        .ccl-no-secondary & {
            flex-basis: calc(100% - 72px);
            border-right: 1px solid;
            border-bottom: 0;
        }

        @include media($md) {
            border-right: 1px solid;
            flex-basis: auto !important;
            flex-grow: 0 !important;
            border-bottom: 0 !important;
        }
    }

    &.ccl-is-secondary {
        border-right: 1px solid;
        flex-basis: calc(100% - 72px);
        
        @include media($md - 1, max) {
            min-height: rem(48);
        }
    }

    &.ccl-is-search-toggle {
        justify-content: flex-end;
        flex-basis: 72px;
        flex-grow: 0;
        justify-content: center;

        @include media($md - 1, max) {
            min-height: rem(48);
        }
        @include media($md) {
            border-right: 1px solid;
        }

        &:hover {
            background: rgba(black, 0.2);
            border-color: black;
        }

        .ccl-b-icon {
            font-size: 1.5rem;
            transition: transform $duration-short $easing;
            @include media($md) {
                font-size: 2rem;
            }
        }

        .ccl-search-active & {
            display: flex;
            margin: 0;

            .ccl-b-icon {
                transform: rotate(90deg);
                font-size: 2rem;
                &:before {
                    content: $ccl-b-icon-close;
                }
            }
        }
    }

    &.ccl-is-search-box {
        display: none;
        padding: 0;
        margin-top: 0;
        border-right: 1px solid;
        .ccl-search-active & {
            display: flex;
        }

        @include media($md) {
            border-right: 0;
        }
    }

    .ccl-search-active & {
        display: none;
    }
}

.ccl-c-quick-nav__item-text {
    font-family: $gotham-narrow-book;
    font-size: rem(24);
    line-height: 1;
    white-space: nowrap;

    .ccl-is-secondary & {
        @include media($md - 1, max) {
            font-size: rem(20);
            font-weight: 500;
            font-family: $gotham-narrow-medium;
        }   
    }
}

.ccl-c-quick-nav__menu {
    @extend .ccl-u-clean-list;

    &:not(:first-child) {
        border-top: 1px solid rgba(black, 0.3);
    }
    &:not(:last-child) {
        margin-bottom: $spacer;
    }

    a {
        display: block;
    }

    .menu-item {
        padding: 0.6rem 0;

        &:not(:first-child) {
            border-top: 1px solid rgba(black, 0.3);
        }

        &.menu-item-has-children > a:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 4px solid $gray;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            transform: rotate(45deg);
            transform-origin: 0 100%;
            margin-left: 5px;
            transition: transform $duration-short $easing;
        }
        &.menu-item-has-children > a.ccl-is-active:after {
            transform: rotate(225deg);
            transform-origin: 50%;
        }
    }

    & > .menu-item > a {
        @extend .ccl-h4;
        @extend .ccl-u-mt-0;
    }

    &.ccl-is-secondary > .menu-item > a {
        font-size: rem(14);
        @include media($lg) {
            font-size: rem(16);
        }
    }

    .sub-menu {
        @extend .ccl-u-clean-list;
        display: none;
        padding: 0.6rem 0 0 $gutter;

        .sub-menu {
            display: block;
            padding-left: 0;
        }

        .menu-item {
            border: 0;
            font-family: $gotham-narrow-medium;
            font-size: rem(15);
            font-weight: 500;
            padding: 0.2rem 0;
            text-transform: uppercase;
        }

        a[href="#"] {
            color: $gray;
            border-bottom: 1px solid lightgray;
            font-weight: 400;
            font-family: $gotham-narrow-book;
            cursor: default;
            pointer-events: none;
            &:after {
                display: none !important;
            }
        }
    }
}

.ccl-c-quick-nav__scrollspy {
    width: 100%;
    height: rem(20);
    @include media($lg) {
        height: rem(24);
    }
    
    span {
        display: block;
        opacity: 0;
        position: absolute;
        transform: translate3d(0,50%,0);
        transition: transform $duration $easing, opacity $duration $easing;
    }
    span.ccl-is-active {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}