.ccl-c-room {
    @extend .ccl-u-clearfix;
    border-top: 1px solid black;
}

// Room Header
// ------------------------------------- //
.ccl-c-room__header {
    
    @include media($sm) {
        float: left;
        width: 50%;
    }
    @include media($lg) {
        float: none;
        display: flex;
        width: auto;
        align-items: flex-end;

        & > * {
            margin-left: 1em;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.ccl-c-room__name {
    line-height: 1;
}

.ccl-c-room__meta,
.ccl-c-room__link {
    @extend .ccl-u-display-block;
    @extend .ccl-h4;
    margin-top: $leading/2;
}

.ccl-c-room__meta {
    @extend .ccl-u-faded;
}


// Room Content
// ------------------------------------- //
.ccl-c-room__content {
    @include media($lg) {
        display: flex;
    } 
}


// Room Image
// ------------------------------------- //
.ccl-c-room__image {
    margin: $leading 0;

    @include media($sm) {
        width: 50%;
        float: right;
    }
    @include media($lg) {
        flex-basis: 190px;
        flex-grow: 0;
        flex-shrink: 0;
        float: none;
        width: auto;
        max-width: 190px;
    }

    img {
        @extend .ccl-u-display-block;
    }
}


// Room Schedule
// ------------------------------------- //
.ccl-c-room__schedule {
    display: flex;
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: $leading 0;
    clear: both;
    @include media($lg) {
        margin-left: $leading;
        flex-wrap: nowrap;
    }
}

.ccl-c-room__slot {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 1px;

    [type="checkbox"] {
        @extend .ccl-u-display-none;
    }
}

.ccl-c-room__slot-label {
    @extend .ccl-h5;
    @extend .ccl-u-mt-0;
    display: block;
    height: 100%;
    cursor: pointer;
    color: gray;
    position: relative;

    &:hover {
        color: black;
    }
    [type="checkbox"]:checked + & {
        color: $blue;
    }
    .ccl-is-full & {
        color: black !important;
        cursor: default;
    }
    
    &:before {
        content: "";
        display: block;
        height: 100%;
        min-height: rem(56);
        background: lightgray;
        transition: all 200ms ease-out;
        margin-bottom: 5px;
    }

    &:after {
        content: "\271a";
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        opacity: 0.5;
        font-size: 1rem;
        transform: translate3d(-50%,-50%,0);
        transition: transform 100ms ease-out;
        line-height: 1;
        @include media($md) {
            font-size: 2rem;
        }
    }

    [type="checkbox"]:not(:checked) + &:hover:before {
        background: gray;
    }
    [type="checkbox"]:checked + &:before {
        background: $blue;
    }
    .ccl-is-full &:before {
        background: black !important;
    }
    [type="checkbox"]:checked + &:after,
    .ccl-is-full &:after {
        transform: translate3d(-50%,-50%,0) rotate(45deg);
    }

}

// Room Legend
// -------------------------------------- //
.ccl-c-room__legend {
    @extend .ccl-u-clean-list;
    margin-top: 2rem;
    text-align: right;
    @include media($lg) {
        margin-top: $leading/2;
    }
}

.ccl-c-room__key {
    @extend .ccl-h5;
    margin: 0 0 0 1em;
    display: inline-block;

    &:before {
        content: "";
        display: inline-block;
        border: 5px solid;
        vertical-align: baseline;
        margin-right: 0.25rem;
    }
}
.ccl-c-room__key--available {
    @extend .ccl-c-room__key;
    color: gray;
}
.ccl-c-room__key--occupied {
    @extend .ccl-c-room__key;
    color: black;
}
.ccl-c-room__key--selected {
    @extend .ccl-c-room__key;
    color: $blue;
}