$room-slot-color: gray;
$room-slot-color-active: black;
$room-slot-box-bg: #eee;
$room-slot-box-bg-active: black;

.ccl-c-room {
    @extend .ccl-u-clearfix;
    border-top: 1px solid black;
}

// Room Header
// ------------------------------------- //
.ccl-c-room__header {
    
    @include media($sm) {
        float: left;
        width: 50%;
    }
    @include media($lg) {
        float: none;
        display: flex;
        width: auto;
        align-items: flex-end;

        & > * {
            margin-left: 1em;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.ccl-c-room__name {
    line-height: 1;
}

.ccl-c-room__meta,
.ccl-c-room__link {
    @extend .ccl-u-display-block;
    @extend .ccl-h4;
    margin-top: $spacer/2;
}

.ccl-c-room__meta {
    @extend .ccl-u-faded;
}


// Room Content
// ------------------------------------- //
.ccl-c-room__content {
    @include media($lg) {
        display: flex;
    } 
}


// Room Image
// ------------------------------------- //
.ccl-c-room__image {
    margin: $spacer 0;

    @include media($sm) {
        width: 50%;
        float: right;
    }
    @include media($lg) {
        flex-basis: 190px;
        flex-grow: 0;
        flex-shrink: 0;
        float: none;
        width: auto;
        max-width: 190px;
        margin-right: $spacer;
    }

    img {
        @extend .ccl-u-display-block;
    }
}


// Room Schedule
// ------------------------------------- //
.ccl-c-room__schedule {
    display: flex;
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: nowrap;
    margin: $spacer 0;
    clear: both;
    overflow: auto;
    padding-bottom: 2rem;
    // @include media($lg) {
    //     flex-wrap: nowrap;
    // }
}

.ccl-c-room__slot {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 1px 2px 1px;
    min-width: 4rem;

    [type="checkbox"] {
        @extend .ccl-u-display-none;
    }
}

.ccl-c-room__slot-label {
    @extend .ccl-h5;
    @extend .ccl-u-mt-0;
    // icon properties
    font-family: 'ccl-ui', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    // ---
    display: block;
    height: 100%;
    cursor: pointer;
    color: $room-slot-color;
    position: relative;

    // &:hover {
    //     color: $room-slot-color-active;
    // }
    [type="checkbox"]:checked + & {
        color: $room-slot-color-active;
        @include school-style(color);
    }
    .ccl-is-occupied & {
        cursor: default;
        pointer-events: none;
        text-decoration: line-through;
    }
    
    &:before {
        content: "";
        display: block;
        height: 100%;
        min-height: rem(56);
        background: $room-slot-box-bg;
        transition: all 200ms ease-out;
        margin-bottom: 5px;
    }

    &:after {
        content: $ccl-b-icon-close;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1rem;
        color: black;
        transform: translate3d(-50%,-50%,0) rotate(45deg);
        transition: transform 100ms ease-out;
        line-height: 1;
    }

    [type="checkbox"]:not(:checked) + & {
        &:hover:before {
            background-color: rgba($room-slot-box-bg-active, 0.5);
            @include school-style(background-color, 0.5);
        }
        &:hover:after {
            @if ( lightness($room-slot-box-bg-active) > 50 ) {
                color: black;
            } @else {
                color: white;
            }
        }
    }

    [type="checkbox"]:checked + & {
        &:before {
            background-color: $room-slot-box-bg-active;
            @include school-style(background-color);
        }
        &:after {
            content: $ccl-b-icon-clock;
            transform: translate3d(-50%,-50%,0);
            @if ( lightness($room-slot-box-bg-active) > 50 ) {
                color: black;
            } @else {
                color: white;
            }
        }
    }

    .ccl-is-active & {
        &:before {
            background-color: rgba($room-slot-box-bg-active, 0.5);
            @include school-style(background-color, 0.5);
        }
        &:after {
            @if ( lightness($room-slot-box-bg-active) > 50 ) {
                color: black;
            } @else {
                color: white;
            }
        }
    }
    
    .ccl-is-occupied & {
        &:before {
            $line1: $room-slot-box-bg;
            $line2: lighten($room-slot-box-bg, 10%);
            background: repeating-linear-gradient(135deg, $line1 0, $line1 5px, $line2 5px, $line2 10px);
        }
        &:after {
            transform: translate3d(-50%,-50%,0) rotate(0);
            color: gray;
            @if ( lightness($room-slot-box-bg) < 50 ) {
                color: white;
            }
        }
    }

}

// Room Legend
// -------------------------------------- //
.ccl-c-room__legend {
    @extend .ccl-u-clean-list;
    margin-top: 2rem;
    @include media($lg) {
        margin-top: $spacer/2;
    }
}

.ccl-c-room__key {
    @extend .ccl-h5;
    margin: 0 1em 0 0;
    display: inline-block;

    .ccl-b-icon {
        display: inline-block;
        font-size: 0.8em;
    }

    &.ccl-is-available {
        @extend .ccl-c-room__key;
        .ccl-b-icon {
            transform: rotate(45deg);
            margin-right: 3px;
        }
    }

    &.ccl-is-occupied {
        @extend .ccl-c-room__key;
        color: gray;
        span {
            text-decoration: line-through;
        }
    }
    &.ccl-is-selected {
        @extend .ccl-c-room__key;
        color: $room-slot-box-bg-active;
        @include school-style(color);
    }
}
