.ccl-c-search__bar {
    background: white;
    display: flex;
    flex-direction: column;

    @include media($md) {
        flex-direction: row;
    }

    & > *:not(:first-child) {
        padding-left: $search-bar-padding;
    }
}

.ccl-c-search__bar-option {
    @extend .ccl-h4;
    @extend .ccl-u-mt-0; 
    flex-shrink: 0;
    padding: $search-bar-padding 0;
    border-top: 1px solid lightgray;
    @include media($md){
        border-top: 0;
        border-left: 1px solid lightgray;
    }
}

.ccl-c-search__submit {
    @extend .ccl-b-btn;
    border: 0;
    background-color: black;
    color: white;
    padding-left: $search-bar-padding;
    padding-right: $search-bar-padding;
    font-size: 1.8rem;
    line-height: 1;

    @include media($lg) {
        min-width: 10rem;
    }

    &:hover {
        background-color: $blue;
    }
    &:last-child {
        margin-left: 0;
    }   
    
}

.ccl-c-search__results {
    background: white;
    border-top: 1px solid black;
    padding: 0 $search-bar-padding;
}

.ccl-c-search__results-footer {
    @extend .ccl-u-pb-1;
    text-align: right;
}

.ccl-c-search__results-action {
    @extend .ccl-u-display-inline-block;
    @extend .ccl-h4;
}

.ccl-c-search__list {
    @extend .ccl-u-clean-list;
}

.ccl-c-search-item {
    @extend .ccl-h3;
    @extend .ccl-u-mt-0;
    border-bottom: 1px solid black;
    padding: $search-bar-padding / 2 0;
    min-height: rem(65);

    a {
        display: flex;
        align-items: center;
        line-height: calc( #{rem(65)} - 1rem );
    }
}

.ccl-c-search-item__type {
    @extend .ccl-h4;
    @extend .ccl-u-mt-0;
    @extend .ccl-u-transition;
    display: flex;
    align-items: center;
    width: rem(150);
    opacity: 0.5;

    [class*="ccl-b-icon-"] {
        vertical-align: -0.1em;
        margin-right: $search-bar-padding / 2;
    }

    .ccl-c-search-item a:hover & {
        opacity: 1;
        color: black;
    }
}