
//search bar description for homepage
.ccl-c-search__description{
    @extend .ccl-u-transition;
    font-size: .9rem;
    margin: rem(8) 0;   
    justify-content: space-around;
    
    a {
        color: white !important;
        &:hover {
            opacity: .7;
        }
    }    
    @include media( $md ) {
        margin: 1.5rem $gutter/2 0 $gutter/2;
        justify-content: flex-end;
    }
    
    .ccl-c-search__description-content{
        @extend .ccl-u-mt-nudge;
        
        @include media( $lg ){
            font-size: 1rem;
        }
        
        &:first-of-type{
            @include media( $sm ){
                margin-right: 1em;
            }
        }

    }
    
}

//search bar description for all other pages


// Search bar
.ccl-c-search {
    position: relative;
    background: white;
    color: black;
    box-shadow: 0 1px 5px 0px rgba(black, 0.2);
    @extend .ccl-u-mt-nudge;

    .ccl-c-quick-nav & {
        width: 100%;
        box-shadow: none;
    }

    .ccl-c-hero & {
        @include media( #{$lg - 1}, max) {
            box-shadow: none;
            margin-left: -$gutter;
            margin-right: -$gutter;
            padding-left: $gutter;
            padding-right: $gutter;
        }
        @include media($lg) {
            margin-bottom: 3rem;
        }
    }
}

.ccl-c-search-form {
    display: flex;
    flex-wrap: wrap;
    position: relative;


    .ccl-c-hero & {
        @include media( #{$lg - 1}, max) {
            border-top: 1px solid black;
        }
    }

    &:after {
        content: "Searching...";
        display: none;
        position: absolute;
        bottom: 0;
        left: $search-bar-padding;
        font-size: rem(14);
        font-weight: 500;
        color: $gray;
    }

    .ccl-is-loading &:after {
        display: block;
        animation: pulse 1s infinite;
    }

    @include media($sm) {
        & > *:not(:first-of-type) {
            padding-left: $search-bar-padding;
        }
    }
}

.ccl-c-search-form__option {
    @extend .ccl-h4;
    @extend .ccl-u-mt-0;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: $search-bar-padding 0;
    border-top: 1px solid $gray;

    @include media( #{$md - 1}, max ) {
        font-size: rem(14);
    }
    
    @include media($sm){
        flex-basis: 50%;
        
        &:not(:last-of-type) {
            border-right: 1px solid $gray;
        }

        &:last-child {
            border-right: 0;
            padding-left: $search-bar-padding;
        }
    }
    @include media($md){
        flex-basis: auto;
        border: 0 !important;
    }
}

.ccl-c-search-form__submit {
    width: 100%;
    @include media($md) {
        width: auto;
    }
    @include media($lg) {
        min-width: rem(128);
    }
}

// Search Results

.ccl-c-search-results {
    @include media($lg) {
        padding: 0 $search-bar-padding;
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        width: 100%;
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
        z-index: 900;
    }
}

.ccl-c-search-results__footer {
    @extend .ccl-u-pb-1;
    text-align: right;
    border-top: 1px solid black;
}

.ccl-c-search-results__action {
    @extend .ccl-u-display-inline-block;
    @extend .ccl-h4;
}

.ccl-c-search-results__list {
    @extend .ccl-u-clean-list;
}

// Search result Item

.ccl-c-search-item {
    @extend .ccl-h4;
    @extend .ccl-u-mt-0;
    border-top: 1px solid black;
    padding: $search-bar-padding 0;
    min-height: rem(65);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1;

    & > *:not(:last-child) {
        padding-right: $search-bar-padding;
    }

    &.ccl-is-large {
        @extend .ccl-h3;
        padding-top: $search-bar-padding * 2;
        padding-bottom: $search-bar-padding * 2;
    }

    &.ccl-is-separator {
        border-top: 0;
    }

}

.ccl-c-search-item__title {
    flex-basis: 100%;
    margin-bottom: 0.5em;
    @include media($lg) {
        flex-basis: auto;
        margin-bottom: 0;
    }
}

.ccl-c-search-item__type {
    @extend .ccl-u-transition;
    display: flex;
    flex-shrink: 0;
    order: 1;
    align-items: center;
    flex-basis: rem(170);
    opacity: 0.5;

    @include media( #{$md - 1}, max ) {
        font-size: rem(14);
    }
    @include media($lg) {
        order: 0;
    }

    .ccl-b-icon {
        vertical-align: -0.1em;
        margin-right: $search-bar-padding / 2;
    }

    .ccl-c-search-item:hover & {
        opacity: 1;
        color: black;
    }
}

.ccl-c-search-item__cta {
    flex-shrink: 0;
    order: 2;
    margin-left: auto;
    opacity: 0.5;

    @include media( #{$md - 1}, max ) {
        font-size: rem(14);
    }
    @include media($lg) {
        order: 0;
    }
    
    .ccl-is-large & {
        opacity: 1;
    }

    .ccl-c-search-item:hover & {
        opacity: 1;
    }
}