
// Search bar

.ccl-c-search {
    background: white;
    box-shadow: 0 1px 5px 0px rgba(black, 0.2);
}

.ccl-c-search-bar {
    
    display: flex;
    flex-direction: column;

    @include media($md) {
        flex-direction: row;
    }

    & > *:not(:first-child) {
        padding-left: $search-bar-padding;
    } 
}

.ccl-c-search-bar__option {
    @extend .ccl-h4;
    @extend .ccl-u-mt-0; 
    flex-shrink: 0;
    padding: $search-bar-padding 0;
    border-top: 1px solid lightgray;
    @include media($md){
        border-top: 0;
        border-left: 1px solid lightgray;
    }
}

.ccl-c-search-bar__submit {
    &:last-child {
        margin-left: 0;
    }
}

// Search Results

.ccl-c-search-results {
    padding: 0 $search-bar-padding;
}

.ccl-c-search-results__footer {
    @extend .ccl-u-pb-1;
    text-align: right;
    border-top: 1px solid black;
}

.ccl-c-search-results__action {
    @extend .ccl-u-display-inline-block;
    @extend .ccl-h4;
}

.ccl-c-search-results__list {
    @extend .ccl-u-clean-list;
}

// Search result Item

.ccl-c-search-item {
    @extend .ccl-h4;
    @extend .ccl-u-mt-0;
    border-top: 1px solid black;
    padding: $search-bar-padding 0;
    min-height: rem(65);
    display: flex;
    align-items: center;
    line-height: 1;

    &.ccl-is-large {
        @extend .ccl-h3;
        padding-top: $search-bar-padding * 2;
        padding-bottom: $search-bar-padding * 2;
    }

}

.ccl-c-search-item__type {
    @extend .ccl-h4;
    @extend .ccl-u-mt-0;
    @extend .ccl-u-transition;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: rem(150);
    opacity: 0.5;

    .ccl-b-icon {
        vertical-align: -0.1em;
        margin-right: $search-bar-padding / 2;
    }

    .ccl-c-search-item:hover & {
        opacity: 1;
        color: black;
    }
}

.ccl-c-search-item__cta {
    flex-shrink: 0;
    margin-left: auto;
    opacity: 0.5;
    
    .ccl-is-large & {
        opacity: 1;
    }

    .ccl-c-search-item:hover & {
        opacity: 1;
    }
}