
// Search bar

.ccl-c-search {
    background: white;
    color: black;
    box-shadow: 0 1px 5px 0px rgba(black, 0.2);

    .ccl-c-masthead-search & {
        @include media( #{$md - 1}, max) {
            border-top: 1px solid black;
            box-shadow: none;
        }
    }
}

.ccl-c-search-bar {
    
    display: flex;
    flex-wrap: wrap;

    @include media($lg) {
        & > *:not(:first-child) {
            padding-left: $search-bar-padding;
        }
    } 
}

.ccl-c-search-bar__option {
    @extend .ccl-h4;
    @extend .ccl-u-mt-0;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: $search-bar-padding 0;
    border-top: 1px solid $gray;

    @include media( #{$md - 1}, max ) {
        font-size: rem(14);
    }
    
    @include media($sm){
        flex-basis: 50%;
        border-right: 1px solid $gray;
        &:last-child {
            border-right: 0;
            padding-left: $search-bar-padding;
        }
    }
    @include media($md){
        flex-basis: auto;
        border: 0;
    }
}

.ccl-c-search-bar__submit {
    &:last-child {
        margin-left: 0;
    }
}

// Search Results

.ccl-c-search-results {
    @include media($md) {
        padding: 0 $search-bar-padding;
    }
}

.ccl-c-search-results__footer {
    @extend .ccl-u-pb-1;
    text-align: right;
    border-top: 1px solid black;
}

.ccl-c-search-results__action {
    @extend .ccl-u-display-inline-block;
    @extend .ccl-h4;
}

.ccl-c-search-results__list {
    @extend .ccl-u-clean-list;
}

// Search result Item

.ccl-c-search-item {
    @extend .ccl-h4;
    @extend .ccl-u-mt-0;
    border-top: 1px solid black;
    padding: $search-bar-padding 0;
    min-height: rem(65);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1;

    & > *:not(:last-child) {
        padding-right: $search-bar-padding;
    }

    &.ccl-is-large {
        @extend .ccl-h3;
        padding-top: $search-bar-padding * 2;
        padding-bottom: $search-bar-padding * 2;
    }

}

.ccl-c-search-item__title {
    flex-basis: 100%;
    margin-bottom: 0.5em;
    @include media($lg) {
        flex-basis: auto;
        margin-bottom: 0;
    }
}

.ccl-c-search-item__type {
    @extend .ccl-u-transition;
    display: flex;
    flex-shrink: 0;
    order: 1;
    align-items: center;
    flex-basis: rem(170);
    opacity: 0.5;

    @include media( #{$md - 1}, max ) {
        font-size: rem(14);
    }
    @include media($lg) {
        order: 0;
    }

    .ccl-b-icon {
        vertical-align: -0.1em;
        margin-right: $search-bar-padding / 2;
    }

    .ccl-c-search-item:hover & {
        opacity: 1;
        color: black;
    }
}

.ccl-c-search-item__cta {
    flex-shrink: 0;
    order: 2;
    margin-left: auto;
    opacity: 0.5;

    @include media( #{$md - 1}, max ) {
        font-size: rem(14);
    }
    @include media($lg) {
        order: 0;
    }
    
    .ccl-is-large & {
        opacity: 1;
    }

    .ccl-c-search-item:hover & {
        opacity: 1;
    }
}