.site-content {
    margin-top: 112px;
    .ccl-c-quick-nav.ccl-no-secondary ~ & {
        margin-top: 64px;
    }

    @include media($md) {
        margin-top: 64px;
    }

    @include media($lg) {
        margin-top: 0 !important;
    }
}