.ccl-c-user-nav {
    background-color: black;
    @include school-style(background-color);

    .ccl-u-faded {
        opacity: 0.7;
    }
}

.ccl-c-user-nav__menu {
    @extend .ccl-u-clean-list;
    padding: 0.25em 0;
    color: white;
    
    @include media($md) {
        display: flex;
        align-items: center;
    }
}

.ccl-c-user-nav__menu-item {
    @extend .ccl-h5;
    @extend .ccl-u-mt-0;
    padding: 0.5em 0;
    @include media($md) {
        margin-right: 1em;
    }

    &.ccl-is-right {
        @include media($md) {
            margin-left: 1em;
            margin-right: 0;
        }
    }

    & > a {
        color: white;
        &:hover, &:focus {
            color: white;
            opacity: 0.7;
        }
    }
}