
$color-room-inactive: desaturate( lighten($blue, 50%), 20% );
$color-room-active: $blue;

@keyframes pulse-room {
    0% {
        fill: $color-room-inactive;
    }
    50% {
        fill: $color-room-active;
    }
    100% {
        fill: $color-room-inactive;
    }
}

.ccl-c-wayfinder__marquee {
    display: none;
    margin-top: 0;
}

.ccl-c-wayfinder__call-num,
.ccl-c-wayfinder__level {
    color: $blue;
}

.ccl-c-wayfinder__maps {
    opacity: 0.2;
    pointer-events: none;
    transition: opacity $duration $easing;
    .ccl-app-active & {
        pointer-events: all;
        opacity: 1;
    }
}

.ccl-c-floor__room {
    transition: fill $duration $easing;
    fill: $color-room-inactive !important;

    &:hover {
        fill: $color-room-active !important;
    }

    &.ccl-is-active {
        animation: pulse-room 1500ms infinite;
    }
}