.container {
    max-width: $max-width;
    padding: 0 $gutter;
    margin-left: auto;
    margin-right: auto;
    @include clearfix;
}

.grid-row {
    @include grid-collapse;
    @include clearfix;
}

@for $i from 1 through $max-columns {
    .grid-#{$i} {
        
        @if ( $i > 1 ) {
            @include grid-column($default-columns);
        } @else {
            @include grid-column($i);
        }

        @include grid-media($neat-grid-sm) {
            @if ( $i > $sm-columns ) {
                @include grid-column($sm-columns);
            } @else {
                @include grid-column($i);
            }
        }
        @include grid-media($neat-grid-md) {
            @if ( $i > $md-columns ) {
                @include grid-column($md-columns);
            } @elseif ( $i > 3 and $i < $md-columns ) {
                @include grid-column($md-columns / 2);
            } @else {
                @include grid-column($i);
            }
        }
        @include grid-media($neat-grid-lg) {
            @if ( $i > $lg-columns ) {
                @include grid-column($lg-columns);
            } @else {
                @include grid-column($i);
            }
        }
    }
}