table {
    background-color: transparent;
	margin: $leading 0 0;
}
caption {
    @extend .ccl-u-text-left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: lightgray;
}
th {
    @extend .ccl-u-text-left;
}