/*
 * Utility Classes
 *
 * These are helpful, single (or limited) purpose, classes 
 * usually created for the styles you apply the most.
 * You can include them in your markup or use @extend to 
 * extend them to various components in your CSS.
 *
 * NOTE: Utility classes are always prefixed with `ccl-u-`. 
 */

// Clearfix
// ------------------------------------------ /
.ccl-u-clearfix {
	@include clearfix;
}

// Spacing
// --------------------------------------- /
.ccl-u-mt-nudge { margin-top: $spacer/3 !important; }
.ccl-u-mb-nudge { margin-bottom: $spacer/3 !important; }
.ccl-u-ml-nudge { margin-left: $spacer/3 !important; }
.ccl-u-mr-nudge { margin-right: $spacer/3 !important; }
.ccl-u-my-nudge { margin-top: $spacer/3 !important; margin-bottom: $spacer/3 !important; }
.ccl-u-pt-nudge { padding-top: $spacer/3 !important; }
.ccl-u-pb-nudge { padding-bottom: $spacer/3 !important; }
.ccl-u-pr-nudge { padding-right: $spacer/3 !important; }
.ccl-u-pl-nudge { padding-left: $spacer/3 !important; }
.ccl-u-py-nudge { padding-top: $spacer/3 !important; padding-bottom: $spacer/3 !important; }
@for $i from 0 through 6 {
    $val: $spacer * $i;
    .ccl-u-ma-#{$i} { margin: $val !important; }
    .ccl-u-mt-#{$i} { margin-top: $val !important; }
    .ccl-u-mr-#{$i} { margin-right: $val !important; }
    .ccl-u-mb-#{$i} { margin-bottom: $val !important; }
    .ccl-u-ml-#{$i} { margin-left: $val !important; }
    .ccl-u-mx-#{$i} { margin-left: $val !important; margin-right: $val !important; }
    .ccl-u-my-#{$i} { margin-top: $val !important; margin-bottom: $val !important; }
    .ccl-u-pa-#{$i} { padding: $val !important; }
    .ccl-u-pt-#{$i} { padding-top: $val !important; }
    .ccl-u-pr-#{$i} { padding-right: $val !important; }
    .ccl-u-pb-#{$i} { padding-bottom: $val !important; }
    .ccl-u-pl-#{$i} { padding-left: $val !important; }
    .ccl-u-px-#{$i} { padding-left: $val !important; padding-right: $val !important; }
    .ccl-u-py-#{$i} { padding-top: $val !important; padding-bottom: $val !important; }
}


// Typography
// --------------------------------------- /
.ccl-u-weight-light { font-weight: 300 !important; }
.ccl-u-weight-normal { font-weight: 400 !important; }
.ccl-u-weight-medium { font-weight: 500 !important; }
.ccl-u-weight-bold { font-weight: 700 !important; }
.ccl-u-caps { text-transform: uppercase !important; }
.ccl-u-font-size-sm { font-size: 75% !important; }
.ccl-u-font-size-lg { font-size: 125% !important; }
.ccl-u-font-size-xl { font-size: 150% !important; }
.ccl-u-text-left { text-align: left !important; }
.ccl-u-text-center { text-align: center !important; }
.ccl-u-text-right { text-align: right !important; }


// Lists
// ------------------------------------------ /
.ccl-u-clean-list {
	margin: 0; padding: 0;
	list-style: none;
}


// Layout
// ------------------------------------------ /
.ccl-u-columns-2-md {
	@include media($md) {
		columns: 2
	}
}
.ccl-u-columns-3-lg {
	@include media($lg) {
		columns: 3; 
	}
}


// Colors
// ------------------------------------------ /
@each $color-name, $color-value in $color-map {

	.ccl-u-color-#{$color-name} {
    	color: $color-value !important;
	}

	.ccl-u-color-hover-#{$color-name} {
		&:hover, &:focus { color: $color-value !important; }
	}
    
    .ccl-u-bg-#{$color-name} {
    	background-color: $color-value !important;
	}
}

.ccl-u-color-school {
	@include school-style(color);
}
	
.ccl-u-bg-school {
	@include school-style(background-color);

	a:hover, a:focus {
		color: inherit;
		opacity: 0.5;
	}
}

.ccl-u-faded { 
	opacity: $faded;
}
a.ccl-u-faded:hover,
a.ccl-u-faded:focus {
	opacity: 1;
}


// Display
// ------------------------------------------ /
.ccl-u-display-block { display: block !important; }
.ccl-u-display-none { display: none !important; }
.ccl-u-display-inline { display: inline !important; }
.ccl-u-display-inline-block { display: inline-block !important; }

.ccl-u-show-sm {
	@include media( #{$sm - 1}, max ) {
		display: none !important;
    }
}
.ccl-u-show-md {
	@include media( #{$md - 1}, max ) {
		display: none !important;
    }
}
.ccl-u-show-lg {
	@include media( #{$lg - 1}, max ) {
		display: none !important;
    }
}
.ccl-u-show-xl {
	@include media( #{$xl - 1}, max ) {
		display: none !important;
    }
}
.ccl-u-hide-sm {
	@include media($sm) {
		display: none !important;
    }
}
.ccl-u-hide-md {
	@include media($md) {
		display: none !important;
    }
}
.ccl-u-hide-lg {
	@include media($lg) {
		display: none !important;
    }
}
.ccl-u-hide-xl {
	@include media($xl) {
		display: none !important;
    }
}


// Effects
// ------------------------------------------ /
.ccl-u-transition {
	transition: all $duration $easing;
}
.ccl-u-transition-short {
	transition: all $duration-short $easing;
}
.ccl-u-transition-long {
	transition: all $duration-long $easing;
}
